@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Slab:wght@300&display=swap');

:root{ 
    font-family: 'Quicksand', sans-serif;
    --main-color: black;
    --accent-color: #2C3333;
    --secondary-color: white;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(./background.jpg);
}
#header > h4 {
    color: white;
    margin-left: -10%;
}
#content{ 
    position:  relative;
    margin-top: 3%;
    padding: 2%;
    width: 40vw;
    height: 45vh;
    /* background-color: var(--main-color); */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
}


#header {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100vw;
    height: 10vh;
    /* background-color: white; */
   
}

#nav {
    display: flex;
    /* justify-content: space-between; */
    gap: 3rem;
    margin-right: 27%;
    
}



.tab
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    /* color: var(--secondary-color); */
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

 .tab:hover
{
    transform: scale(1.03);
   cursor: pointer;
}


.tab:active
{
    transform: scale(0.99);
   
   
    
}

.images {
    width: 15vw;
    height: 15vh;
}